/*---------FOOTER----------------------------*/
#footer {
  display: flex;
  height: auto;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
#footer .footerLogonombre {
  display: flex;
  width: auto;
  height: auto;
  justify-content: flex-start;
  color: #1416B8;
  text-align: left;
  flex-direction: column;
  margin-left: 10px;
}
#footer .footerLogonombre p {
  margin-bottom: 0;
  font-size: 10px;
}
#footer .footerLogonombre h4 {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
#footer .footerLinks ul {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#footer .footerLinks li {
  width: auto;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
#footer .footerLinks li a:hover {
  color: #DDF246;
}
#footer .footerRedes {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
}
#footer .footerRedes i {
  font-size: 17px;
  color: #DDF246;
  margin: 5px;
}

/*----SISTEMA RESPONSIVO FOOTER-------*/
@media (max-width: 768px) {
  #footer {
    flex-direction: column;
    gap: 10px;
  }
  .footerLinks ul li {
    padding: 0;
  }
  .footerLinks ul li a {
    font-size: 12px;
  }
  .footerLinks ul {
    margin-top: 0;
    padding: 0;
    align-items: center;
    line-height: 1.5;
  }
  .footerRedes i {
    font-size: 12px;
  }
  .footerLogonombre h4 {
    font-size: 14px;
    justify-content: center;
    margin-top: 0;
  }
  .footerLogonombre p {
    font-size: 8px;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  #footer {
    flex-direction: column;
    gap: 10px;
  }
  .footerLinks ul li {
    font-size: 10px;
    justify-content: center;
    padding: 0;
  }
  .footerLinks ul {
    margin-top: 0;
    justify-content: center;
    padding: 0;
  }
  .footerRedes i {
    font-size: 10px;
  }
  .footerLogonombre h4 {
    font-size: 12px;
    justify-content: center;
    margin-top: 0;
  }
  .footerLogonombre p {
    font-size: 8px;
    justify-content: center;
  }
}
/* -------------HEADER - NAV------------------ */
#header {
  background-color: rgba(0, 0, 0, 0);
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 101;
}

#navBar {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 5px;
  height: 80px;
  justify-content: space-between;
}
#navBar .MenuNav {
  height: 80px;
  display: flex;
  align-items: center;
}
#navBar .MenuNav ul {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  float: right;
}
#navBar .MenuNav ul li {
  line-height: 80px;
  margin: 0 5px;
}
#navBar .MenuNav ul li a {
  color: #1416B8;
  font-size: 14px;
}

.LogoHeader h4 a {
  color: #DDF246;
  font-size: 40px;
  line-height: 68px;
  padding: 0 10px;
  font-weight: bold;
  height: 80px;
}

.checktn {
  font-size: 30px;
  color: #1416B8;
  float: right;
  line-height: 78px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/*-----------------------------HOVER NAV--------------------------------------*/
#navBar .MenuNav ul a:hover {
  color: #DDF246;
}

#navBar .LogoHeader h4 a:hover {
  color: #1416B8;
}

/*-------------------------------SISTEMA RESPONSIVO NAV---------------------------------------------------*/
@media (max-width: 768px) {
  #header {
    position: relative;
  }
  #navBar {
    justify-content: space-evenly;
    margin-top: 20px;
  }
  #navBar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #DDF246;
    top: 80px;
    left: 0;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  #navBar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  #navBar ul li a {
    font-size: 14px;
  }
  #navBar .LogoHeader {
    display: flex;
    align-items: center;
  }
  .LogoHeader h4 a {
    font-size: 35px;
    line-height: 85px;
  }
  .checktn {
    display: block;
  }
  #navBar .MenuNav ul a:hover {
    color: white;
  }
  .barras {
    width: 150px;
  }
  #check:checked ~ .MenuNav ul {
    left: 0;
  }
}
@media (max-width: 480px) {
  .LogoHeader h4 a {
    font-size: 25px;
    line-height: 85px;
  }
  .checktn {
    font-size: 25px;
    line-height: 70px;
  }
  #navBar {
    margin-top: 0;
  }
}
/* ---------------RESET CSS -------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fuenteHelvetica;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

a, li {
  font-size: none;
  text-decoration: none;
  display: inline-block;
  color: #1416B8;
}

/* ------------PAGE FOTOSPERSONAS --------------------------*/
#fotosPersonas {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#fotosPersonas img {
  width: 480px;
  margin: 15px;
  display: flex;
}

/* ------------SISTEMA RESPONSIVO PAGE FOTOSPERSONAS --------------------------*/
@media (max-width: 768px) {
  #fotosPersonas img {
    width: 450px;
    margin: 0;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  #fotosPersonas {
    margin-top: 0;
    padding: 0px 30px;
  }
  #fotosPersonas img {
    width: 380px;
  }
}
/* ---------------FUENTE -------------------*/
@font-face {
  font-family: fuenteHelvetica;
  src: url(../fuentes/Helvetica.ttf);
}
/* ----------------------------------MAIN-------------------------------------------------------- */
/* ---------ESTILOS DEL BODY------- */
main {
  min-height: 100vh;
  background-color: #ffffff;
}

.imagenesMobile {
  display: none;
}

/*----------------SISTEMA RESPONSIVO MAIN INICIO-------------*/
@media (max-width: 942px) {
  main, footer {
    margin-top: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  main {
    min-height: 0;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .carousel-inner {
    display: none;
  }
  .carousel-control-next-icon {
    display: none;
  }
  .imagenesMobile {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .imagenesMobile img {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .imagenesMobile {
    justify-content: center;
  }
  .imagenesMobile img {
    width: 380px;
  }
}
/*----------------------------------------PAGE FOTOSLUGARES-------------------------------------------*/
#fotosLugares {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#fotosLugares img {
  width: 483px;
  margin: 15px;
  display: flex;
}

@media (max-width: 768px) {
  #fotosLugares img {
    width: 450px;
    margin: 0;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  #fotosLugares {
    margin-top: 0;
    padding: 0px 30px;
  }
  #fotosLugares img {
    width: 380px;
  }
}
/* --------------------------------------------PAGE BIO -------------------------------------------------- */
#biografia {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}
#biografia .biografiaFoto img {
  width: 380px;
  height: 380px;
}
#biografia #contenedorTextobio {
  display: flex;
  flex-direction: column;
}
#biografia #contenedorTextobio .biografiaParrafo {
  display: flex;
  text-align: justify;
  width: 550px;
  height: 200px;
  justify-content: flex-start;
  padding: 20px;
}
#biografia #contenedorTextobio .biografiaParrafo p {
  color: #000000;
  font-size: 15px;
  line-height: 1.4;
}
#biografia #contenedorTextobio .biografiaAbout {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 12px;
  padding: 20px;
  margin-top: 27px;
}
#biografia #contenedorTextobio .biografiaAbout p {
  font-size: 13px;
}

/*----------------SISTEMA RESPONSIVO bio------------*/
@media (max-width: 968px) {
  .biografiaFoto img {
    width: 300px;
    height: 320px;
  }
}
@media (max-width: 768px) {
  #biografia {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  #biografia .biografiaFoto img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
  }
  #biografia #contenedorTextobio .biografiaParrafo {
    width: 320px;
    height: 200px;
  }
  #biografia #contenedorTextobio .biografiaParrafo p {
    font-size: 12px;
  }
  #biografia #contenedorTextobio .biografiaParrafo #contenedorTextobio .biografiaAbout {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #biografia #contenedorTextobio .biografiaParrafo #contenedorTextobio .biografiaAbout p {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  #biografia {
    margin: 20px 0 0 0;
  }
  #biografia .biografiaFoto img {
    width: 250px;
    height: 250px;
    margin-top: 0;
  }
}
/*-------------PAGE CONTACTO --------*/
.MainContacto {
  background-image: url(../images/contacto/contacto.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.MainContacto .formContacto form {
  width: 100%;
  text-align: center;
}
.MainContacto .formcontactoNombre {
  margin-top: 70px;
}
.MainContacto .formcontactoNombre, .MainContacto .formcontactoEmail {
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid grey;
  height: 35px;
  width: 400px;
  padding: 10px;
  font-family: fuenteHelvetica;
  border-radius: 4px;
}
.MainContacto .formcontactoMensaje {
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 400px;
  padding: 10px;
  border-radius: 4px;
}
.MainContacto #submit .boton {
  width: 100px;
  background: rgba(255, 255, 255, 0.694);
  padding: 15px;
  border-radius: 40px;
  color: rgb(63, 63, 63);
  font-family: fuenteHelvetica;
  cursor: pointer;
  border: none;
}

/*----------------SISTEMA RESPONSIVO CONTACTO-------------*/
@media (max-width: 525px) {
  .MainContacto {
    background-image: url(../../images/contacto/contactomobile.jpg);
  }
  .formcontactoNombre, .formcontactoEmail, .formcontactoMensaje {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
