/* ---------------FUENTE -------------------*/

@font-face {
    font-family: fuenteHelvetica;
    src: url(../fuentes/Helvetica.ttf);
}

/* ----------------------------------MAIN-------------------------------------------------------- */
/* ---------ESTILOS DEL BODY------- */

main {
    min-height: 100vh;
    background-color: #ffffff;

}

.imagenesMobile {
    display: none;
}

/*----------------SISTEMA RESPONSIVO MAIN INICIO-------------*/

@media (max-width: 942px) {
    main, footer {
        margin-top: 0;
        padding: 0;
}
}
@media (max-width: 768px) {
main {
    min-height: 0;
    margin-bottom: 20px;
    margin-top: 40px;
}
.carousel-inner {
    display: none;
}
.carousel-control-next-icon {
    display: none;
}
.imagenesMobile {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        width: 450px;
    }
}
}

@media (max-width: 480px) {
    .imagenesMobile {
        justify-content: center;
        img {
            width: 380px;  
        }
    }
}