/*-------------PAGE CONTACTO --------*/

.MainContacto {
    background-image: url(../images/contacto/contacto.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    .formContacto form {
        width: 100%;
        text-align: center;
    }
    .formcontactoNombre {
        margin-top: 70px;
    }
    .formcontactoNombre , .formcontactoEmail {
        font-size: 15px;
        background-color:rgba(255, 255, 255, 0.4);
        border: 1px solid grey;
        height: 35px;
        width: 400px;
        padding: 10px;
        font-family: fuenteHelvetica;
        border-radius: 4px;
    }
    .formcontactoMensaje {
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.4);
        width: 400px;
        padding: 10px;
        border-radius: 4px;
    }
    #submit .boton {
        width: 100px;
        background:rgba(255, 255, 255, 0.694);
        padding: 15px;
        border-radius: 40px;
        color: rgb(63, 63, 63);
        font-family: fuenteHelvetica;
        cursor: pointer;
        border: none;
        
    }
}

/*----------------SISTEMA RESPONSIVO CONTACTO-------------*/
@media (max-width: 525px) {
    .MainContacto {
        background-image: url(../images/contacto/contactomobile.jpg);
        }
    .formcontactoNombre , .formcontactoEmail , .formcontactoMensaje {
        width: 100%;
    }
}




