/*----------------------------------------PAGE FOTOSLUGARES-------------------------------------------*/

#fotosLugares {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img{
        width: 483px;
        margin: 15px;
        display: flex;
    }
}

#fotosLugares img:hover {
    transform: scale(1);
    transition: all .5s;
}



@media (max-width: 768px) {
    #fotosLugares img {
        width: 450px;
        margin: 0;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    #fotosLugares {
        margin-top: 0;
        padding: 0px 30px;
        img {
            width: 380px;
        }
    }
}